@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white m-0 p-0 overflow-x-hidden;
  }
}

/* Custom Red Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #08080a;
}
::-webkit-scrollbar-thumb {
  background: #26050a;
  border-radius: 4px;
  border: 1px solid rgba(239, 68, 68, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}
